/*  GENERAL  */

html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:16px;

}
body {
	background: #FFCC00;
}

/*  INTRO  */

.top-section{
	overflow:auto;
	background:url(../images/clickdrag_white.png), url(../images/intro-background.jpg);
	background-repeat:no-repeat,no-repeat;
	background-position:bottom right, top center;
	background-size:auto, cover;
	background-attachment:scroll, fixed;
	height:100%;
	position:relative;
	width:100%;
	z-index:999;
	display:table;
  	-moz-user-select: none;
  	-webkit-user-select: none;
  	-ms-user-select: none;
}
.top-section:hover {
	cursor:pointer;
}
.top-section-wrap {
	display:table-row;
}
.inner-wrap {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
	text-align:center;
}
.logo {
	position:absolute;
	top:40px;
	left:40px;
}
#second-slide {
	background-image:url(../images/recording-studio.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 75px top;
	background-color: #ffffff;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.login {
	position:absolute;
	top:150px;
	right:0px;
	width:175px;
	height:75px;
	background-image:url(../images/login_sprite.png);
	background-repeat: no-repeat;
}
.login:hover {
	background-position: -180px 0;
}
.sign-up {
	position:absolute;
	top:225px;
	right:0px;
	width:175px;
	height:75px;
	background-image:url(../images/login_sprite.png);
	background-position:0 -75px;
	background-repeat: no-repeat;
}
.sign-up:hover {
	background-position:-180px -75px;
}

/* SECTION 2 */

#section2 {
	background:url(../images/hexelement1.png), url(../images/hexelement2.png);
	background-position: 105% 100px, right 114%;
	background-repeat: no-repeat, no-repeat;
	box-shadow: inset 0px 7px 7px -7px #474747;
	padding-top:60px;
	padding-bottom:150px;
}
#section2 h2 {
	font-family: "museo-slab";
	font-weight:600;
	font-size:3em;
	color:#663300;
	letter-spacing:0;
}
#section2 h3 {
	font-family: "museo-slab";
	font-weight:300;
}
#section2 h2.section2subtitle {
	font-size:1.5em;
	font-family: "museo-slab";
	color:#663300;
	margin-top:5px;
	font-weight: 500;
	letter-spacing:0;
}
#section2 h3.accentabril {
	font-family: "abril-text";
	font-size:1.4em;
	color:#663300;
}
.hex-desktop-view {
 	padding-top:100px;
 	padding-bottom:100px;
 	display:none;
}
.hex-tablet-view {
 	margin-top:100px;
 	margin-bottom:100px;
}
.hex-tablet-view .feature-desc {
	width:300px;
	font-size:1.2em;
}
.hex-icon-wrap {
	margin-top:100px;
	margin-bottom:150px;
}
.feature-title {
	color:#663300;
	font-family: "museo-slab";
	font-size:1.5em;
	margin-top:0;
}
.feature-desc {
	font-size:1em;
	width:200px;
	color:#663300;
	font-family: "abril-text"
}
.descriptions {
	margin-top:0px;
}
.hex-mobile-view {
	display: none;
}

/*  SECTION 3  */

#section3 {
	background:url(../images/temp-pattern.png);
	background-attachment: fixed;
	background-repeat: repeat;
	box-shadow: 0px 0px 25px 0px #474747;
	padding-top:80px;
	padding-bottom:80px;
}
#section3 h2 {
	color:#663300;
	font-family: "museo-slab";
	font-weight: 300;
	text-align:center;
}
.template-stack {
	margin-top:50px;
	overflow:hidden;
}
.large-templates  {
	display:none;
}
.template-medium-view {
	display:none;
}
.template-mobile-view {
	display:none;
}

/*  SECTION 4  */


#signuptoday {
	color:#663300;
	font-family: "museo-slab";
	font-weight: 300;
	font-size:3em;
	margin-bottom:60px;
}
#section4 label {
	font-family: "abril-text";
	font-weight: 300;
	font-style: italic;
	color:#663300;
	font-size:0.8em;
}
input[type="submit"]:focus {
	outline:none;
}
#form-submit {
	background-image:url(../images/signup.png);
	width:148px;
	height:47px;
	border:none;
	background-color:transparent;
	margin-bottom:10px;
}
#form-submit:hover {
	background-image:url(../images/signup-hover.png);
}
.form-row {
	border-bottom:1px solid #663300;
}
#section4 .form-control {
	display: inline;
	width: auto;
	height: 34px;
	padding: 6px 12px;
	padding-bottom:20px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #ff3333;
	background-color: #ffca00;
	background-image: none;
	border-bottom: none;
	border-top:none;
	border-right:none;
	border-left:none;
	border-radius:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#section4 .form-group input {
	color:#2c14ca;
	font-family: 'abril-text';
	font-style: italic;
}
.form-floats {
	width:auto;
	float:left;
}
.social-icons i {
	color:#663300;
	margin-top:50px;
}
.social-icons a:hover i {
	color:#2c14ca;
}
.footermenu p {
	font-size:small;
	font-weight: bold;
	color:#663300;
	text-align:center;
	margin-top:10px;
	font-family: "abril-text";
	font-weight: 300;
}


/* INPUT PLACEHOLDERS */


#inputConfirmPassword::-webkit-input-placeholder {
   color: #ffffff;
}
#inputConfirmPassword:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#inputConfirmPassword::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#inputConfirmPassword:-ms-input-placeholder {  
   color: #ffffff;  
}
#inputFirstName::-webkit-input-placeholder {
   color: #ffffff;
}
#inputFirstName:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#inputFirstName::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#inputFirstName:-ms-input-placeholder {  
   color: #ffffff;  
}
#inputLastName::-webkit-input-placeholder {
   color: #ffffff;
}
#inputLastName:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#inputLastName::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#inputLastName:-ms-input-placeholder {  
   color: #ffffff;  
}
#inputEmail::-webkit-input-placeholder {
   color: #ffffff;
}
#inputEmail:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#inputEmail::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#inputEmail:-ms-input-placeholder {  
   color: #ffffff;  
}
#inputPassword::-webkit-input-placeholder {
   color: #ffffff;
}
#inputPassword:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
#inputPassword::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
#inputPassword:-ms-input-placeholder {  
   color: #ffffff;  
}

/*  ERROR MESSAGE POP-OVERS  */

.server-alert {
	margin-bottom: 15px;
	background-color: #663300;
	padding: 10px;
	color: #fff;
	text-align: center;
	margin-top: 70px;
}
.server-alert p {
	background-color:#663300;
	padding:0px;
	color:#fff;
	margin:0px;
	font-family: 'abril-text';
}
.server-alert:after {
	content: "";
	background-image: url(../images/arrow-up.png);
	width: 41px;
	height: 11px;
	position: absolute;
	top: -11px;
	right: 0;
}
.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	width:220px;
	max-width: none;
	padding: 1px;
	text-align: left;
	background-color: #663300;
	background-clip: padding-box;
	border: none;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	white-space: normal;
	color: #ffffff;
	font-family: 'abril-text';
}
.popover.right>.arrow {
	top: 50%;
	left: -21px;
	margin-top: -21px;
	border-left-width: 0;
	border-right-color: transparent;
	border-right-color: transparent;
	background-image: url(../images/leftarrow.png);
	background-repeat: no-repeat;
	background-position-x: 10px;
	background-position-y: -21px;
}
.popover>.arrow {
	border-width: 21px;
}
.popover.right>.arrow:after {
	content: " ";
	left: 0px;
	bottom: 0px;
	border-left-width: 0;
	border-right-color: transparent;
}
.popover.right {
	margin-left: 35px;
}
.popover.left {
	margin-left: -19px;
	margin-top: 15px;
}
.popover.left>.arrow {
	top:0;
	right: -11px;
	margin-top: 0px;
	border-right-width: 0;
	border-left-color: transparent;
	border-left-color: transparent;
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	background-position-x: -12px;
	background-position-y: -23px;
}
.popover.left>.arrow:after {
	content: " "; 
	right: 0px;
	border-right-width: 0;
	border-left-color: transparent;
	bottom: 0px;
}
.popover-content {
	padding: 9px 14px;
	word-wrap: break-word;
	}

/*  EXTRAS  */

.relative {
	position:relative;
}
.top-buffer {
	margin-top:30px;
}
.no-padding {
	padding:0;
}


/*  MEDAI QUERIES  */

@media(max-width:767px){
	.hide-mobile {
		display:none;
	}
	.template-mobile-view {
		display:block;
	}
	.top-section{
		overflow:auto;
		background:url(../images/mobile.jpg);
		background-repeat:no-repeat;
		background-position:top center;
		background-size:100%;
		background-attachment:fixed;
	}
	.login {
		position:absolute;
		top:30px;
		right:0px;
		width:175px;
		height:75px;
		background-image:url(../images/login_sprite.png);
		background-repeat: no-repeat;
	}
	.sign-up {
		position:absolute;
		top:105px;
		right:0px;
		width:175px;
		height:75px;
		background-image:url(../images/login_sprite.png);
		background-position:0 -75px;
		background-repeat: no-repeat;
	}

	#section2 {
		background:url(../images/hexelement2.png);
		background-position: right 114%;
		background-repeat: no-repeat;
		box-shadow: inset 0px 7px 7px -7px #474747;
		padding-top:60px;
		padding-bottom:200px;
	}
	.feature-desc {
		font-size:1.3em;
		width:300px;
		margin:0 auto;
		text-align:center;
	}
	.feature-title {
		text-align:center;
	}
	#section2 h2 {
		text-align:center;
	}
	#section2 h3.accentabril {
		text-align:center;
	}
	.hex-desktop-view {
	 	display:none;
	}
	.hex-mobile-view {
	 	display: block;
	}
	.hex-tablet-view {
		display:none;
	}
	.drag-mobile, .resp-mobile, .host-mobile, .code-mobile, .support-mobile {
		margin-top:30px;
	}
	.mobile-image-hex {
		width:95%;
		height:auto;
		max-width:195px;
	}
	.mobile-form {
		padding-left:20px;
		padding-right:20px;
	}
	.popover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1010;
		display: none;
		width:auto;
		max-width: 100px;
		padding: 1px;
		text-align: left;
		background-color: #663300;
		background-clip: padding-box;
		border: none;
		border: none;
		border-radius: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		white-space: normal;
		color: #ffffff;
		font-family: 'abril-text';
	}
	.popover.right {
		margin-left: 17px;
	}
	
}

@media(min-width:768px){
	.hex-tablet-view {
		display:block;
	}
	.template-medium-view {
		display:block;
	}
	.descriptions {
		margin-top:100px;
	}
	.feature-title {
		margin-top: 40px;
	}
	.dragndropdesk .feature-title {
		margin-top: 0px;
	}
	#section4 {
		background:none;
		padding-top:40px;
		padding-bottom:50px;
	}
	.hex1 {
		width:198px;
		float:left;
		margin-left:30px;
	}
	.hex2 {
		width:198px;
		float:left;
		margin-left:30px;
	}
	.hex3 {
		width:198px;
		float:left;
		margin-left:30px;
		margin-top:30px;
	}
	.hex4 {
		width:198px;
		float:left;
		margin-left:30px;
		margin-top:30px;
	}
	.hex5 {
		width:198px;
		float:left;
		margin-left:30px;
		margin-top:30px;
	}
}

@media(min-width:992px){
	#section4 {
		background:url(../images/hexelement3.png), url(../images/hexelement4.png);
		background-position: 125% 50%, -315px 110%;
		background-repeat: no-repeat, no-repeat;
		padding-top:40px;
		padding-bottom:50px;
	}
}
@media(min-width:1200px){
	.server-alert {
		margin-bottom:15px;
		background-color:#663300;
		padding:10px;
		color:#fff;
		margin-top: 0px;
	}
	.server-alert p {
		background-color:#663300;
		padding:0px;
		color:#fff;
		margin:0px;
		font-family: 'abril-text';
	}
	.server-alert:after {
		content: "";
		background-image: url(../images/arrow-right.png);
		width: 11px;
		height: 41px;
		position: absolute;
		top: 0;
		left: 99.74%;
	}
}
@media(min-width:1240px){
	.hex-desktop-view {
		display:block;
	}
	.hex-tablet-view {
		display:none;
	}
	.hex1 {
		width:198px;
		float:left;
		margin-left:0;
	}
	.hex2 {
		width:198px;
		float:left;
		margin-left:30px;
	}
	.hex3 {
		width:198px;
		float:left;
		margin-left:114px;
		margin-top:-30px;
	}
	.hex4 {
		width:198px;
		float:left;
		margin-left:30px;
		margin-top:-30px;"
	}
	.hex5 {
		width:198px;
		float:left;
		margin-top:-30px;
		margin-left:0;
	}
	.descriptions {
		margin-top: 0;
	}
	.dragndropdesk {
		margin-top:150px;
		margin-left:300px;
	}
	.dragndropdesk:before{
		content:"";
		height:92px;
		width:809px;
		position:absolute;
		background-image:url(../images/dragdropline.png);
		background-repeat: no-repeat;
		top:50px;
		left:-491px;
		right:auto;
		bottom:auto;
	}
	.codedesk {
		margin-top:40px;
		margin-left:-200px;
	}
	.codedesk:before{
		content:"";
		height:211px;
		width:108px;
		position:absolute;
		background-image:url(../images/customline.png);
		background-repeat: no-repeat;
		top:-154px;
		left:-321px;
		right:auto;
		bottom:auto;
	}
	.responsivedesk {
		margin-top:50px;
		margin-left:150px;
	}
	.responsivedesk:before {
		content:"";
		height:124px;
		width:311px;
		position:absolute;
		background-image:url(../images/responsiveline.png);
		background-repeat: no-repeat;
		top:-87px;
		left:-140px;
		right:auto;
		bottom:auto;
	}
	.hostingdesk {
		margin-top:75px;
		margin-left:80px;
	}
	.hostingdesk:before{
		content:"";
		height:25px;
		width:207px;
		position:absolute;
		background-image:url(../images/hostingline.png);
		background-repeat: no-repeat;
		top:71px;
		left:-148px;
		right:auto;
		bottom:auto;
	}
	.supportdesk {
		margin-top:0px;
		margin-left:-541px;
	}
	.supportdesk:before{
		content:"";
		height:95px;
		width:11px;
		position:absolute;
		background-image:url(../images/supportline.png);
		background-repeat: no-repeat;
		top:-106px;
		left:-491px;
		right:auto;
		bottom:auto;
	}
	#section4 {
		background:url(../images/hexelement3.png), url(../images/hexelement4.png);
		background-position: 110% 50%, -230px 110%;
		background-repeat: no-repeat, no-repeat;
		padding-top:40px;
		padding-bottom:50px;
	}
}

@media(min-width:1500px){
	.large-templates {
		display:block;
	}
	.template-medium-view {
		display:none;
	}
	#section2 {
		background:url(../images/hexelement1-large.png), url(../images/hexelement2.png);
		background-position: 205% 100px, right 114%;
		background-repeat: no-repeat, no-repeat;
		box-shadow: inset 0px 7px 7px -7px #474747;
		padding-top:60px;
		padding-bottom:150px;
	}
}

@media(min-width:1700px){
	#section2 {
		background:url(../images/hexelement1-large.png), url(../images/hexelement2.png);
		background-position: 165% 100px, right 114%;
		background-repeat: no-repeat, no-repeat;
		box-shadow: inset 0px 7px 7px -7px #474747;
		padding-top:60px;
		padding-bottom:150px;
	}
}
@media(min-width:2000px){
	#section2 {
		background:url(../images/hexelement1-large.png), url(../images/hexelement2.png);
		background-position: 135% 100px, right 114%;
		background-repeat: no-repeat, no-repeat;
		box-shadow: inset 0px 7px 7px -7px #474747;
		padding-top:60px;
		padding-bottom:150px;
	}
}