<div>
	<div class="panel">
		<div class="panel-heading">
			<a href="#/">Dashboard</a>
		</div>
		<div class="row row-top-margin">
			<div class="col-3 col-sm-3 col-lg-3">
				<div class="dashboard-sidebar hidden-print affix-top" role="complementary">
					<ul class="nav nav-stacked">
						<li class="active">
							<a href="#js-overview">Projects</a>
						</li>
						<!--<li>
							<a href="#transitions">User Account</a>
						</li>
						<li>
							<a href="#modals">Domains</a>
						</li>-->
					</ul>
				</div>
			</div>
			<div class="col-9 col-sm-9 col-lg-9 dashboard-sidenav">
				<div class="row">
					<div class="media">
						<div class="media-body" style="margin-top: 15px;">
							<p class="lead media-heading">My Projects</p>
						</div>
					</div>
				</div>
				
				<div ng-repeat="account in accounts" ng-class="{active : !!(account == ($parent.account||$parent.$parent.account))}">
					<div class="row show-grid col-12 col-sm-12 col-lg-12">
						<div class="col-4 col-sm-4 col-lg-4 title">Name</div>
						<div class="col-4 col-sm-4 col-lg-4 title">Current Template</div>
						<div class="col-4 col-sm-4 col-lg-4 title">Last Modified</div>
					</div>
					<div class="row show-grid col-12 col-sm-12 col-lg-12">
						<div class="col-4 col-sm-4 col-lg-4">
							<a ng-href="{{account.accountSiteUrl}}" ng-show="!!account.accountSiteUrl">
								{{account.accountId}}
							</a>
							<span ng-show="!account.accountSiteUrl">{{account.accountId}}</span>
						</div>
						<div class="col-4 col-sm-4 col-lg-4">{{account.currentTemplate||"None Selected"}}</div>
						<div class="col-4 col-sm-4 col-lg-4">{{account.publishTime||"Not Published"}}</div>
					</div>
					<div class="row row-top-margin pull-right">						
						<div class="col-lg-4">
							<a href="#/account/{{account.accountId}}/templates">
								<button type="button" class="btn btn-teal">
									Switch Template
								</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a href="#/revisions/{{account.accountId}}/">
								<button type="button" class="btn btn-teal">
									Revisions
								</button>
							</a>
						</div>
						<div class="col-lg-3">
							<a type="button" class="btn" href="/builder" ng-click="setBuilderAccountId(account)" ng-disabled="!account.currentTemplate">
								Go To Builder
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</div>
