<div>
	<style>
		.list-group .list-group-item h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
		.list-group .list-group-item p {
			margin-bottom: 0;
		}

		#revisions-main-col > h3,
		#revisions-main-col > p {
			text-align: center;
		}
	</style>

	<div class="panel">
		<div class="panel-heading">
			<a href="#/">Dashboard</a> &raquo; Revisions
		</div>

		<div class="row row-top-margin">
			<div class = "col-lg-12">
				<h3 class = "template-header">Revisions</h3>
			</div>
			<div id="revisions-main-col" class="col-lg-12">

				<h3 ng-show="loading">Loading...</h3>
				<h3 ng-show="!loading && !revArray.length">No Revisions</h3>
				<p ng-show="!loading && !revArray.length">
					Add revisions in the <a href="/builder">builder</a> by <code>Control+S</code> or <code>Command+S</code> (for save).
				</p>

				<ul class="list-group" ng-hide="loading">
					<li ng-repeat="rev in revArray | orderBy:when" class="list-group-item">
						<h3 title="{{ rev.id }}">
							{{ rev.when | amDateFormat:"MMMM Do YYYY, h:mm a" }}
							<span am-time-ago="rev.when" class="badge blue-badge"></span>
						</h3>
						<button class="pull-right btn btn-teal" ng-click="changeSiteToRev(rev.id)">Go Back to this Version</button>
						<p>
							Message: {{ rev.message }}
						</p>
						<p>
							By <a href="mailto:{{rev.author.email}}">{{ rev.author.name }}</a>
						</p>
					</li>
				</ul>
			</div>
		</div>
		
		<!--<template-external></template-external>-->

		<div id="revision-change-modal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Changing to Revision</h4>
					</div>
					<div class="modal-body">
						<p style="text-align:center;" ng-hide="!!changeError">
							Changing...&hellip;<br>
							<i class="icon-cog icon-spin" style="font-size: 12em;"></i>
						</p>
						<p style="text-align:center;" ng-show="!!changeError">
							Error Changing to Revision<br>
							<i class="icon-frown" style="font-size: 12em;"></i>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-show="!!changeError">Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</div> <!-- panel heading -->
</div>