<div>
	<div class="row row-top-margin">
		<div class="col-12 col-md-12">
			<h3 class="template-header">Upload a Template</h3>
		</div>
	</div>
	<div class="row row-top-margin">
		<div class="col-10 col-md-10">
			<input type="file" style="width:100%;">
		</div>
		<div class="col-2 col-md-2" style="text-align:center;">
			<button type="button" class="btn btn-teal">Upload</button>
		</div>
	</div>
	<div class="row row-top-margin" style="margin-top: 5px;">
		<div class="col-12 col-md-12">
			<p class="alert alert-info">
				<strong>Important!</strong>
				You must upload a ZIP file with an internal file named &quot;index.html&quot; or your template will be rejected.
			</p>
		</div>
	</div>
</div>