/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
	font-family: 'proxima-nova',Helvetica Neue,Arial,sans-serif;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
	background-color: #2adbb5;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: white;
	color: #2adbb5;
}


/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .credit {
  margin: 20px 0;
}
.page-header {
	border-bottom: 0px;
}
.logo {
	margin-top:50px;
}

/*--- TYPOGRAPHY --- */

.something-wrong-text p {
	font-size: 24px;
	font-weight: 200;
	color: white;
}
.fourzerofour-text p {
	font-size: 20em;
	font-weight: bold;
	color: white;
}
/*--- BACK BUTTON ---*/

.login {
  width:180px;
  border:1px solid #fff;
  font-size:18px;
  line-height:20px;
  padding: 15px 0;
  text-align:center;
	margin: 0 auto;
}
.login a {
  color:#fff;
}
.login a:hover {
  color:#fff;
  text-decoration:none;
}

/*--- MEDIA QUERIES ---*/

@media (max-width: 480px) {
	.fourzerofour-text p {
		font-size: 10em;
	}
}
