html {
  height: 100%;	
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

.front-bg {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
	background-color: #29abe2;
	background-image: url(images/desk.jpg);
	background-size: cover;
}

.front-bg img {
	width:100%;
	height:100%;
}

.block {
  text-align: center;
	height: 100%;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; 
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
 }

 .highlight {
   padding: 9px 14px;
   margin-bottom: -14px;
	 margin-left: -14px;
	 margin-right: -15px;
   background-color: #E8E6E7;
 }
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	background-color: #f4f4f4;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.close {
	margin-bottom: 10px;
}

.modal-content {
	border-radius: 0;
}

.modal-header {
	padding-top: 15px;
	padding-bottom: 0px;
	padding-right: 15px;
	padding-left: 0px;
	border-bottom: none;
}

.modal-footer {
	background-color: #f4f4f4;
}

footer {
	width: 100%;
	height: 40px;
	display: block;
	background: url(images/logo.png) center top;
	background-size: 25px 25px;
	background-repeat: no-repeat;
}

footer a {
	color: #000000;
}

footer p {
	color: #000000;
}

#registerForm .popover-content {
	min-width: 250px;
}

.tos .scroller {
	text-align: left;
}

.tos .scroller h6 {
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	padding: 0 0 5px 0;
}
.tos .scroller p {
	font-size: .81em;
	padding: 2px;
}